.start {
  background: url(../img/man.png) center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto; }
  .start .icon_1 {
    text-align: center;
    margin: 50px; }
  .start .title_1 {
    font-size: 54px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Lato";
    text-align: center;
    text-transform: uppercase; }
    @media only screen and (max-width: 768px) {
      .start .title_1 {
        font-size: 25px; } }
  .start .text_1 {
    font-size: 15px;
    line-height: 29px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Lato";
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto; }
    @media only screen and (max-width: 768px) {
      .start .text_1 {
        font-size: 12px;
        text-align: center; } }
  .start .final {
    margin-top: 20px;
    margin-bottom: 20px; }

.about {
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px; }
  .about .container {
    border: 3px solid gray;
    position: relative; }
  .about .ab-title {
    /* border: 2px solid blue; */
    font-size: 34px;
    letter-spacing: 5px;
    color: #3c3c3c;
    font-weight: 700;
    font-family: "Lato";
    text-align: center;
    margin: 0 auto;
    position: absolute;
    right: 50%;
    top: 0;
    transform: translate(50%, -50%);
    background-color: white; }
    @media only screen and (max-width: 320px) {
      .about .ab-title {
        font-size: 20px; } }
  .about .ab-text {
    /* border: 2px solid rebeccapurple; */
    font-size: 16px;
    line-height: 24px;
    color: #3c3c3c;
    font-weight: 300;
    font-family: "Lato";
    text-align: center;
    margin: 50px auto; }
    @media only screen and (max-width: 320px) {
      .about .ab-text {
        font-size: 12px; } }

.services {
  background: url(../img/she.jpg.png) center;
  margin: 0 auto;
  box-sizing: border-box; }
  .services .wrapper {
    border: 2px solid gray;
    margin: 50px auto;
    position: relative; }
    .services .wrapper .title {
      font-size: 34px;
      letter-spacing: 5px;
      background: url(../img/she.jpg.png) top;
      color: #ffffff;
      font-weight: 700;
      font-family: "Lato";
      text-align: center;
      position: absolute;
      top: 0;
      right: 50%;
      transform: translate(50%, -50%);
      /* margin-bottom: 65px; */ }
    .services .wrapper .serv-text {
      /* height: 280px; */
      font-size: 16px;
      line-height: 26px;
      color: #ffffff;
      font-weight: 300;
      font-family: "Lato";
      text-align: center;
      /* border: 3px solid greenyellow; */
      margin: 20px auto; }

.what {
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px; }
  .what .whcont {
    width: 60%;
    margin: 0 auto; }
    .what .whcont .wh-title {
      font-size: 34px;
      color: #3c3c3c;
      font-weight: 700;
      font-family: "Lato";
      text-align: center;
      text-transform: uppercase;
      background-color: white; }
      @media only screen and (max-width: 768px) {
        .what .whcont .wh-title {
          font-size: 20px; } }
    .what .whcont .part {
      text-align: center;
      margin-top: 100px;
      /* padding-bottom: 50px; */ }
      @media only screen and (max-width: 768px) {
        .what .whcont .part {
          margin-top: 50px; } }
      .what .whcont .part .wh-img {
        padding: 50px auto; }
        @media only screen and (max-width: 768px) {
          .what .whcont .part .wh-img {
            padding-bottom: 20px; } }
      .what .whcont .part .wh-name {
        font-size: 20px;
        letter-spacing: 3px;
        /* color: #3c3c3c; */
        font-weight: 700;
        font-family: "Lato";
        text-align: center;
        padding-bottom: 40px; }
        @media only screen and (max-width: 768px) {
          .what .whcont .part .wh-name {
            padding-bottom: 20px; } }
      .what .whcont .part .wh-text {
        /* height: 324px; */
        font-size: 14px;
        color: #3c3c3c;
        font-weight: 300;
        font-family: "Lato";
        text-align: center;
        margin: 0 auto; }
    .what .whcont .part {
      text-align: center;
      margin-top: 100px;
      /* padding-bottom: 50px; */ }
      @media only screen and (max-width: 768px) {
        .what .whcont .part {
          margin-top: 20px; } }
      .what .whcont .part .wh-img {
        padding-bottom: 40px; }
        @media only screen and (max-width: 768px) {
          .what .whcont .part .wh-img {
            padding-bottom: 10px; } }
      .what .whcont .part .wh-name {
        font-size: 20px;
        letter-spacing: 3px;
        /* color: #3c3c3c; */
        font-weight: 700;
        font-family: "Lato";
        text-align: center;
        padding-bottom: 40px; }
        @media only screen and (max-width: 768px) {
          .what .whcont .part .wh-name {
            padding-bottom: 10px; } }
      .what .whcont .part .wh-text {
        /* height: 324px; */
        font-size: 14px;
        line-height: 26px;
        color: #3c3c3c;
        font-weight: 300;
        font-family: "Lato";
        text-align: center;
        margin: 0 auto; }
    .what .whcont .part {
      text-align: center;
      margin-top: 100px;
      /* padding-bottom: 50px; */ }
      @media only screen and (max-width: 768px) {
        .what .whcont .part {
          margin-top: 20px; } }
      .what .whcont .part .wh-img {
        padding-bottom: 40px; }
        @media only screen and (max-width: 768px) {
          .what .whcont .part .wh-img {
            padding-bottom: 20px; } }
      .what .whcont .part .wh-name {
        font-size: 20px;
        letter-spacing: 3px;
        /* color: #3c3c3c; */
        font-weight: 700;
        font-family: "Lato";
        text-align: center;
        padding-bottom: 40px; }
        @media only screen and (max-width: 768px) {
          .what .whcont .part .wh-name {
            padding-bottom: 20px; } }
      .what .whcont .part .wh-text {
        /* height: 324px; */
        font-size: 14px;
        line-height: 26px;
        color: #3c3c3c;
        font-weight: 300;
        font-family: "Lato";
        text-align: center;
        /* border: 2px solid red; */
        margin: 0 auto; }

.gallery {
  height: 484px;
  margin: 0 auto; }
  .gallery .topworkz {
    height: 237px;
    background: url(../img/1.png);
    background-size: cover;
    margin-bottom: 20px; }
    .gallery .topworkz .gal-name {
      font-size: 34px;
      letter-spacing: 5px;
      color: #ffffff;
      font-weight: 700;
      font-family: "Lato";
      text-align: center;
      text-transform: uppercase;
      /* border: 2px solid blue; */ }
  .gallery .joint {
    height: 237px;
    background: url(../img/2.png);
    margin-bottom: 20px; }
    .gallery .joint .gal-name {
      font-size: 34px;
      letter-spacing: 5px;
      color: #ffffff;
      font-weight: 700;
      font-family: "Lato";
      text-align: center;
      text-transform: uppercase;
      /* border: 2px solid blue; */ }
  .gallery .market {
    height: 237px;
    background: url(../img/3.png);
    /* box-sizing: border-box; */
    margin-bottom: 20px; }
    .gallery .market .gal-name {
      font-size: 34px;
      letter-spacing: 5px;
      color: #ffffff;
      font-weight: 700;
      font-family: "Lato";
      text-align: center;
      text-transform: uppercase;
      /* border: 2px solid blue; */ }
  .gallery .work {
    height: 237px;
    background: url(../img/4.png);
    margin-bottom: 20px; }
    .gallery .work .gal-name {
      font-size: 34px;
      letter-spacing: 5px;
      color: #ffffff;
      font-weight: 700;
      font-family: "Lato";
      text-align: center;
      text-transform: uppercase;
      /* border: 2px solid blue; */ }
  .gallery .lab {
    height: 237px;
    background: url(../img/5.png);
    /* border: 2px solid red; */
    /* box-sizing: border-box; */
    margin-bottom: 20px; }
    .gallery .lab .gal-name {
      font-size: 34px;
      letter-spacing: 5px;
      color: #ffffff;
      font-weight: 700;
      font-family: "Lato";
      text-align: center;
      text-transform: uppercase;
      /* border: 2px solid blue; */ }
  .gallery .Kyiv {
    height: 237px;
    background: url(../img/6.png);
    /* border: 2px solid red; */
    margin-bottom: 20px; }
    .gallery .Kyiv .gal-name {
      font-size: 34px;
      letter-spacing: 5px;
      color: #ffffff;
      font-weight: 700;
      font-family: "Lato";
      text-align: center;
      text-transform: uppercase;
      /* border: 2px solid blue; */ }

.contact {
  margin: 0 auto;
  padding-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .contact .container {
    border: 3px solid gray;
    margin: 0 auto;
    position: relative;
    width: 80%; }
  .contact .cont-title {
    font-size: 30px;
    letter-spacing: 5px;
    color: #3c3c3c;
    font-weight: 700;
    font-family: "Lato";
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    right: 50%;
    top: 0;
    transform: translate(50%, -50%);
    background-color: white; }
    @media only screen and (max-width: 320px) {
      .contact .cont-title {
        font-size: 18px;
        letter-spacing: 1px; } }
  .contact .cont-text {
    font-size: 16px;
    line-height: 26px;
    color: #3c3c3c;
    font-weight: 300;
    font-family: "Lato";
    text-align: center;
    /* border: 2px solid red; */
    padding-top: 50px;
    margin: 0 auto; }
  .contact .wrap {
    margin: 30px auto;
    text-align: center; }
    .contact .wrap .join-but {
      width: 80%;
      background-color: #3c3c3c;
      margin: 0 auto;
      color: white;
      text-transform: uppercase; }

footer {
  margin: 50px auto; }
  footer .wrapper {
    margin: 0 auto;
    text-align: center; }
    @media only screen and (min-width: 768px) {
      footer .wrapper {
        text-align: right;
        margin-bottom: 5px; } }
  footer .foot-text {
    font-size: 14px;
    color: #3c3c3c;
    font-weight: 400;
    font-family: "Lato";
    margin-bottom: 15px; }
    @media only screen and (min-width: 768px) {
      footer .foot-text {
        margin-top: 10px; } }

@font-face {
  font-family: "Lato";
  src: url("./fonts/Lato-Regular.ttf"); }
