.about {
  // border: 3px solid red;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px;
 
.container {
  border: 3px solid gray;
  position: relative; 
}

  .ab-title {
    /* border: 2px solid blue; */
   
    font-size: 34px;
letter-spacing: 5px;
color: #3c3c3c;
font-weight: 700;
font-family: "Lato";
text-align: center;
    margin:0 auto;
    position: absolute;
    right: 50%;
    top: 0;
    transform: translate(50%,-50%);
    background-color: white;

    @media only screen  and (max-width: 320px) {
      font-size: 20px;
    
   }
}

.ab-text {
  // width: 553px;
  /* border: 2px solid rebeccapurple; */
// height: 250px;
font-size: 16px;
line-height: 24px;
color: #3c3c3c;
font-weight: 300;
font-family: "Lato";
text-align: center;
margin: 0 auto;
padding-top: 50px;
@media only screen  and (max-width: 320px) {
  font-size: 12px;

}


}
}