.start {
    // width: 1920px;
    // height:1072px;
    background: url(./img/man.png) center;
    background-size: cover;
    // margin: 0 auto;
    // border:2px solid red;
position: relative;
.container {
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;

    .icon_1 {
        // width: 58px;
        // height: 58px;
        //  border: 2px solid red;
       text-align: center;
    //    margin: 0 auto;
    position: absolute;
       top: 50px;
      right: 50%;
       transform: translate(50%,0);

    
    } 
    .title_1 {
        // width: 60%;
        // height: 150px;
        font-size: 54px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Lato";
    text-align: center;
    text-transform: uppercase;
    // border: 2px solid red;
    position: absolute;
    top: 35%;
   right: 50%;
    transform: translate(50%,0);
    @media only screen  and (max-width: 768px) {
        font-size: 25px;
        top: 30%;
     }
    }
    
    .text {
        // border: 2px solid blue; 
        // margin: 200px auto;
        position: absolute;
       bottom: 15%;
       right: 50%;
        transform: translate(50%,0);
        
    
        @media only screen  and (max-width: 768px) {
            // font-size: 12px;
            // margin-bottom: 100px;
            bottom: 20%;
    
         }
    
     .text_1 {
        // width: 589px;
    // height: 30px;
    font-size: 15px;
    // letter-spacing: 1px;
    line-height: 29px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Lato";
    text-align: center;
    text-transform: uppercase;
    // border: 2px solid blue;
    margin: 0 auto;
    @media only screen  and (max-width: 768px) {
        font-size: 12px;
        text-align: center;
     }


    }
    } 
  
   .final {
       position: absolute;
       bottom: 10px;
       left: 50%;
       transform: translate(-50%,0);

   }
}
}
  