footer {
    width: 1920px;
    display: flex;
    justify-content: center;
    // border: 2px solid blue;
    margin: 50px auto;

    .foot-logo {
        // border: 2px solid yellow;
        width: 5%;
    }
    .foot-text {
        font-size: 14px;
        color: #3c3c3c;
        font-weight: 400;
        font-family: "Lato";
        // border: 2px solid green;
        display: flex;
        align-items: center;
        justify-content: center;
    }


}