.container {
    // width: 1920px;
    // height: 488px;
    // background: url(../img/she.jpg.png) center;
    margin: 0 auto;
    /* border: 2px solid red; */
    box-sizing: border-box;
    // padding-top: 10px;
    fieldset {
        border: 3px solid white;
        width: 60%;
        height: 50%;
        margin: 80px auto;
        legend {
            font-size: 34px;
letter-spacing: 5px;
color: #ffffff;
font-weight: 700;
font-family: "Lato";
text-align: center;
width: 308px;
/* margin-bottom: 65px; */
}
.serv-text {
    // width: 553px;
    /* height: 280px; */
    font-size: 16px;
    line-height: 26px;
    color: #ffffff;
    font-weight: 300;
    font-family: "Lato";
    text-align: center; 
    /* border: 3px solid greenyellow; */
    margin:20px auto;
}
    }
       
}