@import "_container_1.scss";
@import "_about.scss";
@import "_services.scss";
@import "_what.scss";
@import "_gallery.scss";
@font-face {
    font-family: "Lato";
    src: url("./fonts/Lato-Regular.ttf")
    };